<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Eventos Level-Up Gamer</title>
</head>
<body class="bg-black">
    <h2 class="text-white text-center mt-4">Eventos Gamer Nacionales</h2>
    <p class="text-secondary text-center">¡Ubica tu evento más cercano y gana puntos LevelUp!</p>
    
    <div class="map-container container mt-4">
        <iframe 
            src="https://www.google.com/maps/d/u/0/embed?mid=TU_ID_DE_MAPA_PERSONALIZADO" 
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
</body>
</html>