:root {
    --negro-fondo: #000000;
    --azul-electrico: #1E90FF;
    --verde-neon: #39FF14;
    --texto-blanco: #FFFFFF;
    --texto-gris: #D3D3D3;
}

body {
    background-color: var(--negro-fondo);
    color: var(--texto-blanco);
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
    color: var(--azul-electrico);
}